/* NalogDetails.css */

/* Container styling */
.nalog-details {
  font-family: Arial, sans-serif;
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Title styling */
.nalog-details h2 {
  color: #007bff;
  margin-bottom: 15px;
}

.nalog-details h1 {
  text-align: center;
}

.nalog-details p {
  font-size: 18px;
  margin: 10px 0;
}

/* Close button styling */
.close-button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.close-button:hover {
  background-color: #0056b3;
}

/* Stavka list styling */
.stavka-item {
  list-style: none;
  background-color: #e9ecef;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.stavka-item:hover {
  background-color: #d6d8db;
}

/* Očitanja table styling */
.ocitanja-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.ocitanja-table thead {
  background-color: #007bff;
  color: #fff;
}

.ocitanja-table th,
.ocitanja-table td {
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
}

.ocitanja-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.ocitanja-table tr:hover {
  background-color: #e9ecef;
}

.status-button, .delete-nalog-button, .open-form-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.3s;
}

.status-button {
  background-color: #007bff;
  color: white;
}

.status-button:hover {
  background-color: #0056b3;
}

.delete-nalog-button {
  background-color: #007bff;
  color: white;
}

.delete-nalog-button:hover {
  background-color: #0056b3;
}

.open-form-button {
  background-color: #2196F3;
  color: white;
}

.open-form-button:hover {
  background-color: #0b7dda;
}

/* Checkmark and no-ocitanje styling */
.checkmark {
  color: green;
  font-size: 1.5em;
}

.no-ocitanje {
  color: red;
  font-size: 1.5em;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.add-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #0056b3;
}

.radnik-form {
  margin-top: 20px;
}

.save-button, .cancel-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-button:hover, .cancel-button:hover {
  background-color: #0056b3;
}
